<ngx-spinner
  bdColor="rgba(0,0,0,0.41)"
  size="large"
  color="#ffffff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Guardando...</p>
</ngx-spinner>

<app-page-header headerTitle="Fondos"></app-page-header>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body border-bottom py-3">
        <div class="d-flex align-items-center">
          <button
            class="btn btn-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#modal-usuario"
            (click)="handleChangeAdd()"
          >
            <i class="ti ti-plus me-1"></i>Agregar
          </button>
          <div class="ms-auto d-flex align-items-center">
            <div class="input-icon">
              <input
                #searchItem
                type="text"
                class="form-control form-control-rounded"
                placeholder="Buscar"
                (input)="handleChangeSearch($event)"
              />
              <span class="input-icon-addon">
                <i class="ti ti-search"></i>
              </span>
            </div>
            <a
              class="btn w-30 btn-icon"
              aria-label="Dribbble"
              (click)="exportarDatosAExcel()"
              title="Descargar excel de fondos"
              style="margin-left: 8px; padding-top: 4px; padding-bottom: 4px"
            >
              <i
                class="ti ti-cloud-down text-muted"
                style="font-size: 28px"
              ></i>
            </a>
          </div>
        </div>
      </div>

      <ng-container [ngSwitch]="isLoading">
        <div style="height: 300px" *ngSwitchCase="2">
          <div class="progress">
            <div class="progress-bar progress-bar-indeterminate bg-green"></div>
          </div>
        </div>

        <div *ngSwitchCase="3" class="container">
            <div class="row">
              <ng-container *ngFor="let fondos of fondosFilter; let i = index">
                <div *ngIf="i % 4 === 0" class="col-12">
                  <h2 class="year-title">{{ getYear(i) }}</h2>
                  <hr class="year-divider">
                </div>
                <div class="col-lg-3 mb-3">
                  <div class="card h-100 text-center">
                    <div class="card-body d-flex flex-column justify-content-between">
                      <h5 class="card-title">
                        {{ fondos.tipoDistribucion.nombre }}
                      </h5>
                      <p class="card-text">
                        <strong>Cantidad:</strong> {{ fondos.cantidad | currency:'MXN':'symbol':'1.0-0' }} MXN
                      </p>
                      <p class="card-text">
                        <strong>Periodo:</strong> {{ fondos.periodo }}
                      </p>
                      <div class="d-flex justify-content-center mt-auto">
                        <button
                          class="btn btn-warning btn-icon btn-sm me-2"
                          data-bs-toggle="modal"
                          data-bs-target="#modal-usuario"
                          (click)="setDataModalUpdate(fondos)"
                        >
                          <i class="ti ti-edit"></i>
                        </button>
                        <button
                          class="btn btn-danger btn-icon btn-sm"
                          (click)="deleteItem(fondos.id, fondos.cantidad)"
                        >
                          <i class="ti ti-eraser"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="(i + 1) % 4 === 0 || i === fondosFilter.length - 1" class="col-12">
                  <h2 class="text-center"><strong>Total:</strong> {{ getTotalForGroup(i - (i % 4)) | currency:'MXN':'symbol':'1.0-0' }} MXN</h2>
                  <h3 *ngIf="getPercentageDifference(i - (i % 4)) !== null" [ngClass]="{'text-success': getPercentageDifference(i - (i % 4)) > 0, 'text-danger': getPercentageDifference(i - (i % 4)) < 0}" class="text-center">
                    {{ getPercentageDifference(i - (i % 4)) | number:'1.0-2' }}% respecto al mes anterior
                  </h3>
                  <br>
                </div>
              </ng-container>
            </div>
          </div>
          
        <app-no-results *ngSwitchCase="4"></app-no-results>
      </ng-container>
      <!-- Fin *ngSwitchCase-->

      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">
          Total de registros: <b>{{ fondosFilter.length }}</b>
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal-blur fade"
  id="modal-usuario"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ isModalAdd ? "Agregar" : "Actualizar" }} personal
        </h5>
        <button
          #closebutton
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form [formGroup]="fondosForm" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Cantidad*:</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="cantidad"
                  />
                  <div
                    *ngIf="fondosForm.get('cantidad')?.touched"
                    class="error-message"
                  >
                    <div *ngIf="fondosForm.get('cantidad')?.hasError('required')">
                      <p style="color: red">La cantidad es obligatoria</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Périodo*:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="periodo"
                  />
                  <div
                    *ngIf="fondosForm.get('periodo')?.touched"
                    class="error-message"
                  >
                    <div
                      *ngIf="fondosForm.get('periodo')?.hasError('required')"
                    >
                      <p style="color: red">El périodo es obligatorio</p>
                    </div>
                  </div>
                </div>
              </div>           
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                  <label class="form-label">Tipo de distribución*:</label>
                  <ng-select
                    placeholder="Elegir"
                    [items]="tipo"
                    bindLabel="nombre"
                    bindValue="id"
                    [searchable]="false"
                    [clearable]="false"
                    formControlName="tipo"
                  >
                    <ng-template ng-option-tmp let-item="item">
                      {{ item.nombre }}
                    </ng-template>
                  </ng-select>
                  <div
                    *ngIf="fondosForm.get('tipo')?.touched"
                    class="error-message"
                  >
                    <div *ngIf="fondosForm.get('tipo')?.hasError('required')">
                      <p style="color: red">El tipo de distribución es obligatorio</p>
                    </div>
                  </div>
                </div>
              </div>   
          </div>
        </div>
        <p
          class="form-label"
          style="margin-left: 20px; color: red; font-weight: bold"
        >
          Todos los campos marcados con * son requeridos
        </p>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!fondosForm.valid"
          >
            {{ isModalAdd ? "Agregar" : "Actualizar" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
