<div class="container">
  <!-- Total de Incidencias Atendidas -->
  <div class="row mt-4">
    <div class="col-lg-12 mb-4">
      <div class="card">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <div class="d-flex align-items-center">
            <div class="me-3">
              <i class="fas fa-exclamation-triangle fa-3x" style="color: orange;"></i>
            </div>
            <div class="text-center">
              <h1>Total de incidencias atendidas</h1>
              <h3 id="total-incidencias" class="count">{{ totalIncidencias }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Incidencia Más Recurrente -->
  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="card">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <div class="d-flex align-items-center">
            <div class="me-3">
              <i class="fas fa-exclamation-circle fa-3x" style="color: orange;"></i>
            </div>
            <div class="text-center">
              <h1>Incidencia más recurrente</h1>
              <div *ngIf="incidenciaRecurrente">
                <h1> {{ incidenciaRecurrente.tipoIncidencia.nombre }}</h1>
                <h4 id="total-incidencias" class="count">{{ incidenciaRecurrente.total }}</h4>
              </div>
              <div *ngIf="!incidenciaRecurrente">
                <p>Cargando...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Incidencia Más Recurrente -->
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex align-items-center">
              <div class="me-3">
                <i class="fa-solid fa-house-flag fa-3x" style="color: orange;"></i>
              </div>
              <div class="text-center">
                <h1>Comunidad con mayor número de incidencias</h1>
                <div *ngIf="comunidadRecurrente">
                  <h1> {{ comunidadRecurrente.comunidad.nombre }}</h1>
                  <h4 id="total-incidencias" class="count">{{ comunidadRecurrente.total }}</h4>
                </div>
                <div *ngIf="!comunidadRecurrente">
                  <p>Cargando...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Gráfica de Incidencias por Comunidad -->
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div id="containerIncidenciasComunidad" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Gráfica de Incidencias por Día -->
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div id="containerIncidenciasPorDia" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="card">
      <div class="col-12">
        <div class="card-header pb-1 pt-2">
        </div>
  
        <div class="card-body p-0">
          <div id="map-canvas" style="height: 400px; width: 100%;" data-lat="19.4326" data-lng="-99.1332"></div>
        </div>
      </div>
</div>
</div>
</div>
