<ngx-spinner
  bdColor="rgba(0,0,0,0.41)"
  size="large"
  color="#ffffff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Guardando...</p>
</ngx-spinner>

<app-page-header headerTitle="Adquisiciones"></app-page-header>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body border-bottom py-3">
        <div class="d-flex align-items-center">
          <button
            class="btn btn-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#modal-usuario"
            (click)="handleChangeAdd()"
          >
            <i class="ti ti-plus me-1"></i>Agregar
          </button>
          <div class="ms-auto d-flex align-items-center">
            <div class="input-icon">
              <input
                #searchItem
                type="text"
                class="form-control form-control-rounded"
                placeholder="Buscar"
                (input)="handleChangeSearch($event)"
              />
              <span class="input-icon-addon">
                <i class="ti ti-search"></i>
              </span>
            </div>
            <a
              class="btn w-30 btn-icon"
              aria-label="Dribbble"
              (click)="exportarDatosAExcel()"
              title="Descargar excel de usuarios"
              style="margin-left: 8px; padding-top: 4px; padding-bottom: 4px"
            >
              <i
                class="ti ti-cloud-down text-muted"
                style="font-size: 28px"
              ></i>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div>
            <form [formGroup]="areaForm">
              <label style="margin-top: 5px; margin-left: 10px;" class="form-label">Filtrar por área:</label>
              <ng-select 
                #selectarea 
                formControlName="areaId" 
                [searchable]="false" 
                [items]="areas"
                placeholder="Todas las áreas"
                bindValue="id" 
                [clearable]="true" 
                (change)="onSelectPrograma($event?.id)" 
                (clear)="onClear()" 
                style="margin-bottom: 5px; margin-left: 10px;"
              >
                <!-- Custom template for dropdown items -->
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  <span style="margin-right: 8px;">
                    <i [ngClass]="item.icono" 
                       class="icono-con-espacio"
                       [ngStyle]="{'color': item.color}">
                    </i>
                  </span>
                  {{ item.nombre }}
                </ng-template>
      
                <!-- Custom template for the selected item -->
                <ng-template ng-label-tmp let-item="item">
                  <span style="margin-right: 8px;">
                    <i [ngClass]="item.icono" 
                       class="icono-con-espacio"
                       [ngStyle]="{'color': item.color}">
                    </i>
                  </span>
                  {{ item.nombre }}
                </ng-template>
      
              </ng-select>
            </form>
          </div>
        </div>
      </div>

      <ng-container [ngSwitch]="isLoading">
        <div style="height: 300px" *ngSwitchCase="2">
          <div class="progress">
            <div class="progress-bar progress-bar-indeterminate bg-green"></div>
          </div>
        </div>

        <div *ngSwitchCase="3" class="table-responsive">
          <table class="table table-vcenter card-table table-striped">
            <thead>
              <tr>
                <th
                  style="text-transform: none; font-size: inherit"
                  class="text-center"
                >
                  #
                </th>
                <th style="text-transform: none; font-size: inherit"  class="text-center">
                    Nombre
                  </th>
                  <th style="text-transform: none; font-size: inherit"  class="text-center">Folio</th>
                  <th style="text-transform: none; font-size: inherit"  class="text-center">Área</th>
                <th
                  style="text-transform: none; font-size: inherit"
                  class="w-1"
                >
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let adquisicion of adquisicionesFilter | paginate : configPaginator;
                  let pointIndex = index
                "
              >
                <td class="text-center">
                  {{
                    configPaginator.itemsPerPage *
                      (configPaginator.currentPage - 1) +
                      pointIndex +
                      1
                  }}
                </td>
                <td class="text-center">{{ adquisicion.nombre }}</td>
                <td class="text-center">{{ adquisicion.folio? adquisicion.folio : 'N/A' }}</td>
                <td class="text-center"> <i [ngClass]="adquisicion.area.icono" 
                  class="icono-con-espacio"
                  [ngStyle]="{'color': adquisicion.area.color}">
               </i>{{ adquisicion.area.nombre }}</td>
                <td>
                  <div class="d-flex justify-content-between">
                    <button
                      class="btn btn-warning btn-icon btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#modal-usuario"
                      (click)="setDataModalUpdate(adquisicion)"
                    >
                      <i class="ti ti-edit"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-icon btn-sm"
                      (click)="deleteItem(adquisicion.id, adquisicion.nombre)"
                    >
                      <i class="ti ti-eraser"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <label class="form-label" style="margin-top: 15px; font-size: 24px">
              {{ sinProgramaMessage }}</label>
          </div>
        </div>

        <app-no-results *ngSwitchCase="4"></app-no-results>
      </ng-container>
      <!-- Fin *ngSwitchCase-->

      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">
          Total de registros: <b>{{ adquisicionesFilter.length }}</b>
        </p>
        <div class="m-0 ms-auto">
          <pagination-controls
            (pageChange)="onPageChange($event)"
            previousLabel=""
            nextLabel=""
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal-blur fade"
  id="modal-usuario"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ isModalAdd ? "Agregar" : "Actualizar" }} adquisición
        </h5>
        <button
          #closebutton
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form [formGroup]="adquisicionesForm" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="">
            <div class="row">
              <div class="col-lg-12">
                <div class="mb-3">
                  <label class="form-label">Nombre*:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nombre"
                  />
                  <div
                    *ngIf="adquisicionesForm.get('nombre')?.touched"
                    class="error-message"
                  >
                    <div *ngIf="adquisicionesForm.get('nombre')?.hasError('required')">
                      <p style="color: red">El nombre es obligatorio</p>
                    </div>
                  </div>
                </div>
              </div>

                     
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Marca*:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="marca"
                />
                <div
                  *ngIf="adquisicionesForm.get('marca')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="adquisicionesForm.get('marca')?.hasError('required')"
                  >
                    <p style="color: red">La marca es obligatoria</p>
                  </div>
                </div>
              </div>
            </div>  
            <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Proveedor*:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="proveedor"
                  />
                  <div
                    *ngIf="adquisicionesForm.get('proveedor')?.touched"
                    class="error-message"
                  >
                    <div
                      *ngIf="adquisicionesForm.get('proveedor')?.hasError('required')"
                    >
                      <p style="color: red">El proveedor es obligatoria</p>
                    </div>
                  </div>
                </div>
              </div>    
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Fecha de adquisicion:</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="fechaAdquisicion"
                />
                <div
                  *ngIf="adquisicionesForm.get('fechaAdquisicion')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="adquisicionesForm.get('fechaAdquisicion')?.hasError('required')"
                  >
                    <p style="color: red">La fecha de adquisición obligatoria</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Área*:</label>
                <ng-select
                  placeholder="Elegir"
                  [items]="areas"
                  bindLabel="nombre"
                  bindValue="id"
                  [searchable]="false"
                  [clearable]="false"
                  formControlName="area"
                >
                  <!-- Plantilla personalizada para las opciones en el dropdown -->
                  <ng-template ng-option-tmp let-item="item">
                    <span style="margin-right: 8px;">
                      <i [ngClass]="item.icono" 
                         class="icono-con-espacio"
                         [ngStyle]="{'color': item.color}">
                      </i>
                    </span>
                    {{ item.nombre }}
                  </ng-template>
            
                  <!-- Plantilla personalizada para la opción seleccionada -->
                  <ng-template ng-label-tmp let-item="item">
                    <span style="margin-right: 8px;">
                      <i [ngClass]="item.icono" 
                         class="icono-con-espacio"
                         [ngStyle]="{'color': item.color}">
                      </i>
                    </span>
                    {{ item.nombre }}
                  </ng-template>
                  
                </ng-select>
            
                <!-- Mensaje de error -->
                <div *ngIf="adquisicionesForm.get('area')?.touched" class="error-message">
                  <div *ngIf="adquisicionesForm.get('area')?.hasError('required')">
                    <p style="color: red">El área es obligatorio</p>
                  </div>
                </div>
              </div>
            </div>
          </div>         

          <div class="row">
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Cantidad*:</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="cantidad"
                  (input)="updateTotal()"
                />
                <div
                  *ngIf="adquisicionesForm.get('cantidad')?.touched"
                  class="error-message"
                >
                  <div *ngIf="adquisicionesForm.get('cantidad')?.hasError('required')">
                    <p style="color: red">La cantidad es obligatoria</p>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Precio unitario*:</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="precioUnitario"
                  (input)="updateTotal()"
                />
                <div
                  *ngIf="adquisicionesForm.get('precioUnitario')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="adquisicionesForm.get('precioUnitario')?.hasError('required')"
                  >
                    <p style="color: red">El precio unitario es obligatorio</p>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Precio total*:</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="precioTotal"
                  [readonly]="true"
                />
              </div>
            </div>
          </div>
          
          <div class="col-lg-12">
            <blockquote class="blockquote">
              <p class="text-info">Si cuenta con folio, favor de ingresarlo</p>
            <div class="mb-3">
              <label class="form-label">Folio:</label>
              <input
                type="text"
                class="form-control"
                formControlName="folio"
              />
            </div>
          </blockquote>
          </div> 
        </div>
        <p
          class="form-label"
          style="margin-left: 20px; color: red; font-weight: bold"
        >
          Todos los campos marcados con * son requeridos
        </p>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!adquisicionesForm.valid"
          >
            {{ isModalAdd ? "Agregar" : "Actualizar" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
